section#cart {
    display: flex;
    padding: 38px 0 0 0;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

section#cart>ul {
    height: 550px;
    width: 650px;
    box-shadow: 0 0 16px -7px black;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    border-radius: 10px;
    margin: 5px;
}

section#cart>ul>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24pt;
}

section#cart>div#summary {
    padding: 10px 30px;
    background-color: hsl(208, 0%, 96%);
    height: 550px;
    width: 402px;
    border-radius: 10px;
    margin: 5px;
}

section#cart div#summary div#summary-products {
    max-height: 225px;
    overflow-y: auto;
    scrollbar-width: thin;
    font-size: 10pt;

}

section#cart div#summary div#summary-products .summary-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

section#cart div#summary p#summary-total {
    font-size: 15pt;
    display: flex;
    justify-content: end;
    margin: 5px;
}

section#cart div#summary>h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px 0;
}

button#checkout-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: lightsteelblue;
    color: black;
    height: 50px;
    font-weight: bolder;
    font-size: 13pt;
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 300ms;
}

button#checkout-btn:hover {
    transition: all 100ms;
    background-color: lch(from lightsteelblue calc(l*1.1) c h);
}

button#checkout-btn:active {
    transition: all 100ms;
    background-color: lch(from lightsteelblue calc(l*.9) c h);
}

button#checkout-btn.greyed-out {
    background-color: #c3c3c3;
    color: #efefef;
}

.cart-products {
    position: relative;
}

.clear-cart {
    position: fixed;
    left: 20px;
    bottom: 10px;
    list-style: none;
    z-index: 3;
    & button {
        background: none;
        outline: none;
        border: none;
    }
}


.clear-cart p {
    color:#f43022;
    font-weight: bold;
    font-size: 14pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 13px;
    left: 0;
    width: max-content;
    transform: translateX(-58px);
    transition: all 300ms ease-in-out;
    clip-path: rect(0px 95px 28px 95px);
}

.clear-cart .clear-cart-icon:hover ~ p {
    clip-path: rect(0px 95px 28px 0px);
    transform: translateX(58px);
}

.clear-cart-icon {
    background-color: #f43022;
    padding: 4px;
    width: 42px !important;
    height: 42px !important;
    border-radius: 30px;
    transition: all 400ms !important;
    transform: scale(1);


    & path {
        filter: invert();
    }

}

.clear-cart-icon:hover {
    background-color: lch(from rgb(244, 48, 34) calc(l*1.1) c h);
    transition: all 300ms !important;
    transform: scale(1.2);
}

.clear-cart-icon:active {
    background-color: lch(from rgb(244, 48, 34) calc(l*0.9) c h);
    transition: all 200ms !important;
    transform: scale(.7);
}