section#product-details {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 200px;
}

section#product-details h2 {
    display: flex;
    justify-content: center;
    font-size: 26pt;
}

section#product-details img {
    width: 50%;
    box-shadow: 0 0 20px -10px;
    border-radius: 5px;
    margin: 20px 0;
}

section#product-details h3 {
    display: flex;
    justify-content: start;
    width: 900px;
    padding: 20px 0 10px 0;
    font-size: 20pt;
}

section#product-details section#main {
    display: flex;
    justify-content: center;
}

section#product-details section#main div#product-submit {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px 20px;
    width: 20%;
    align-items: end;
}


section#product-details section#main div#product-submit p.price {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 20pt;
    margin: 0 0 25px 0;
}

section#product-details section#main div#product-submit button {
    border: none;
    border-radius: 3px;
    background-color:lightsteelblue;
    padding: 3px;
    transition: all 200ms;
}

section#product-details section#main div#product-submit button:hover{
    background-color:lch(from lightsteelblue calc(l*1.1) c h);
}

section#product-details section#main div#product-submit button:active{
    background-color:lch(from lightsteelblue calc(l*0.88) c h);
}

section#product-details section#main div#product-submit button#add-to-cart {
    margin: 10px 0;
    padding: 3px 15px;
}

section#product-details p.description {
    padding: 10px 0;
    width: 900px;
}

section#product-details h2,
section#product-details h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}