section#counter {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0 ;
}

section#counter div#counter-arrows {
    display: flex;
    flex-direction: column;
}

section#counter div#counter-arrows button {
    font-size: 8pt;
    margin: 0 5px;
}