nav {
    background-color: slategray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

nav menu {
    display: flex;
    flex-direction: row;
}

nav menu li {
    text-align: center;
    display: flex;
    align-items: center;
    height: 64px;
    list-style: none;
    padding: 0 5px;
    transition: all 200ms;
    background-color: none;
    cursor: pointer;
}

nav menu li:hover {
    background-color: lch(from slategray calc(l*1.2) c h);
    transition: all 200ms;
}