article.cart-product {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

article.cart-product h4 {
    width: 125px;
}

article.cart-product img {
    height: 100%;
}

article.cart-product button {
    border: none;
    border-radius: 3px;
    background-color: lightsteelblue;
    padding: 3px;
    transition: all 200ms;
}

article.cart-product button:hover {
    background-color: lch(from lightsteelblue calc(l*1.1) c h);
}

article.cart-product button:active {
    background-color: lch(from lightsteelblue calc(l*0.88) c h);
}